<div class="">
    <div class "">
        <h2>Welcome to Doggy Daycare {{user.name}} !</h2>
    </div> 
</div>

<div class="">
  <div class="">
    <h2 class="">Start new reservation for {{reservation.dog_name}}</h2>
    <button class="" data-id="{{reservation}}">Book Now</button>
  </div>
  <image class=""></image>
</div>
---
<script src="./js/profile.js"></script>

<div class="">
  <div class="">
    <h3>New Reservation</h3>

    <form class="new-reservation">
      <div class="reservation-elements">
        <label for="reservation-id">Customer id:</label>
        <input class="form-input" type="number" id="" name="" />
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-name">dog's name:</label>
        <input class="form-input" type="text" id="" name="" />
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-breed">dog's breed:</label>
        <input class="form-input" type="text" id="" name=""></input>
      </div>
      <div class="reservation-elements">
        <label for="reservation-dog-age">dog's age:</label>
        <input class="form-input" type="number" id="" name=""></input>
      </div>
      <div class="reservation-elements">
        <label for="reservation-date">what days do you need doggy daycare?</label>
        <input class="form-input" type="number" id="" name=""></input>
      </div>
      <div class="reservation-elements">
        <button type="submit" class="btn">Book Reservation</button>
      </div>
    </form>
  </div>
