
<div class="has-background-white-ter is-family-monospace px-3">
<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical ">
        <article class="tile is-child box h">
            <p class="title">Services</p>
            <p>Doggy Daycare offers a wide range of services and amenities to care for your furry friend while you're away. Our doggy guests especially love all natural grain-free meals containing at least 25% crude protein, dips in the warm waters of the Barking Bubbles Bath, and long hours playing with doggy friends in our state of the art obstacle course playground.</p>
        </article>
        <article class="tile is-child box">
            <p class="title">Daycare</p>
            <p>Have a long work day and hate to leave your fur baby home alone and lonely? Doggy Daycare will give your pup all the fun, food, and care they need in a safe and interactive daycare environment. </p>
        </article>
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child box">
            <p class="title">Boarding</p>
            <p>While you play on vacation, your pup can play with us! We start each day with natural grain-free food that boasts at least 25% crude protein so your doggy is ready for a fun day playing in the obstacle course and napping by the pool.</p>
        </article>
        <article class="tile is-child box">
            <p class="title">Barking Bubbles Bath</p>
            <p>Every boarding guest gets a complimentary spa day at the elite Barking Bubbles Bath for every 4 days of boarding. We play hard and then clean up to absolute freshness.</p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box has-text-centered">
            <p class="title">Contact Us</p>
            <p>Address: 123 Doggy Drive, Dogville, Utah 12345
                <br>
            Phone number: 123-456-7890
                <br>
            Email: doggydaycare@email.com</p>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child box">
                     <p class="title">Testimonials</p>
                <p>"Our little Mr. Ruffkin LOVED his stay at Doggy Daycare. When we picked him up from our trip he was running around and loving the playground and also smelled amazing and was so soft because he had just been given a bath. We will definitely be coming back to Doggy Daycare every time we go on vacation! Highly Recommend!" - Susan </p>
    </article>
  </div>
</div>
    <footer class="footer has-background-white-ter is-family-monospace has-text-centered footer-padding ">
        <h4>Made with ❤️️ by Yessenia Vieyra, Styrling Morris, Hannah Edwards, and Amanda Paul</h4>
    </footer>
</div>

