<!--<div class="">
    <div class "">
        <h2>Welcome to Doggy Daycare, {{user.name}} !</h2>
    </div> 
</div>-->

<div>
    <image class=""></image>

    <main class="">
        <section id="" class="">
            <img src="" alt="" class="" />
            <h2>Services</h2>
            <p>
                Doggy Daycare offers a wide range of services and amenities to care for your furry friend while you're away. Our doggy guests especially love all natural grain-free meals containing at least 25% crude protein, dips in the warm waters of the Barking Bubbles Bath, and long hours playing with doggy friends in our state of the art obstacle course playground. 
            </p>
        </section>

        <section id="" class="">
            <img src="" alt="" class="" />
            <h2>Testimonials</h2>
            <p>
                "Our little Mr. Ruffkin LOVED his stay at Doggy Daycare. When we picked him up from our trip he was running around and loving the playground and also smelled amazing and was so soft because he had just been given a bath. We will definitely be coming back to Doggy Daycare every time we go on vacation! Highly Recommend!" - Susan 
            </p>
        </section>

        <section id="" class="">
            <img src="" alt="" class="" />
            <h2>Contact Us</h2>
            <p>
               123 Doggy Drive, Dogville, Utah 12345
               123-456-7890
               doggydaycare@email.com
            </p>
        </section>

    </main>

    <section class="aside">

        <aside class="">
            <h3>Daycare</h3>
            <img src="" alt=""/>
            <p>
                Have a long work day and hate to leave your fur baby home alone and lonely? Doggy Daycare will give your pup all the fun, food, and care they need in a safe and interactive daycare environment. 
            </p>
        </aside>

        <aside class="">
            <h3>Boarding</h3>
            <img src="" alt=""/>
            <p>
                While you play on vacation, your pup can play with us! We start each day with natural grain-free food that boasts at least 25% crude protein so your doggy is ready for a fun day playing in the obstacle course and napping by the pool. 
            </p>
        </aside>

        <aside class="">
            <h3>Barking Bubbles Bath</h3>
            <img src="" alt=""/>
            <p>
                Every boarding guest gets a complimentary spa day at the elite Barking Bubbles Bath for every 4 days of boarding. We play hard and then clean up to absolute freshness.
            </p>
        </aside>

    </section>

    <footer class="footer">
        <h4>Made with ❤️️ by Yessenia Vieyra, Styrling Morris, Hannah Edwards, and Amanda Paul</h4>
    </footer>

</body>

</html>
