<div class="">
  <div class="">
    <h2>Login</h2>

    <form class="form user-login-form">
      <!--wondering about generating id from registration form beginning on line 29--> 
      <!--div class="form-elements">
        <label for="customer-id">customer id:</label>
        <input class="user-input" type="text" id="customer-id" />
      </div>-->
      <div class="form-elements">
        <label for="customer-name">name:</label>
        <input class="user-input" type="text" id="customer-name" />
      </div>
      <div class="form-elements">
        <label for="customer-email">email:</label>
        <input class="user-input" type="text" id="customer-email" />
      </div>
      <div class="form-elements">
        <label for="customer-password">password:</label>
        <input class="user-input" type="password" id="customer-password" />
      </div>
      <div class="form-elements">
        <button class="btn btn-main" type="submit">login</button>
      </div>
    </form>
  </div>

  <div class="">
    <h2>Register</h2>

    <form class="form register-form">
      <div class="form-elements">
        <label for="customer-name-register">name:</label>
        <input class="form-input" type="text" id="customer-name-register" />
      </div>
      <div class="form-elements">
        <label for="customer-email-register">email:</label>
        <input class="form-input" type="text" id="customer-email-register" />
      </div>
      <div class="form-elements">
        <label for="customer-password-register">password:</label>
        <input class="form-input" type="password" id="customer-password-register" />
      </div>
      <div class="form-elements">
        <button class="btn btn-primary" type="submit">register</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
